---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";




// FONTS



// Our variables
$base-font-family: 'inconsolata', Arial, sans-serif;
$base-font-size:   13px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fff;
$alt-text-color: #555;
$background-color: #f1f1f1;
$alt-background: #1c1c1c;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// ARROWS

.arrow-down {
background-image: url("/img/icons/arrow-down.svg");
    width: 20px;
    height: inherit;
    background-repeat: no-repeat;}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  60% {
    -moz-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  60% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  60% {
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

.js .bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base"
;

// SITE HEADER

.site-header {
	background-color: #0f0f0f;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 998;
}

.site-title {
        height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 9px;
}

.site-title img {
    height: 40px;
    
}

.site-nav {
    top: 20px;
    position: absolute;
    right: 20px;
}


.navigation-hack {
    float: left;
    top: 20px;
    left: 20px;
    position: fixed;
    color: white;
    z-index: 999;
}

.page-link {
    color: #999 !important;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;    
    transition: all .3s ease-in-out 0s; 
}

.navigation-hack:hover {
    left: 20px;
}


// HOME PAGE
.category-container {
	width:33.333%;
	height: 100%;
	Background: $alt-background;
	position: relative;
	float: left;
overflow: auto;
   -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
}

.projects-container {
        width: 100%;
    height: 100%;
    position: absolute;
}

.overlay {
	height: 100%;
	width: 100%;
	background-size: cover;
	position: relative;
	opacity: 0.15;
	filter: alpha(opacity=15);
	-webkit-transition: opacity .3s ease-in-out 0s;
    -moz-transition: opacity .3s ease-in-out 0s;
    -o-transition: opacity .3s ease-in-out 0s;
    -ms-transition: opacity .3s ease-in-out 0s;    
    transition: opacity .3s ease-in-out 0s; 
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);

}

#commercials .overlay {
    background-image: url("/img/home-bg/commercials.jpg");
}

#photography .overlay {
    background-image: url("/img/home-bg/photography.jpg");
}

#experiments .overlay {
    background-image: url("/img/home-bg/experiments.jpg");
}

.title-1 {
	position: absolute;
	margin-left: 50%;
    left: -50px;
	top: 45%;
    width: 15%;
	opacity: .5;
	filter: alpha(opacity=50);
	-webkit-transition: opacity .2s ease-in-out 0s;
    -moz-transition: opacity .2s ease-in-out 0s;
    -o-transition: opacity .2s ease-in-out 0s;
    -ms-transition: opacity .2s ease-in-out 0s;    
    transition: opacity .2s ease-in-out 0s; 
}

.category-container:hover .title-1 {
    opacity: 0.0;
    filter: alpha(opacity=0);
}

.title-2 {
    opacity: 1.0;
    filter: alpha(opacity=100);
    text-align: center;
    padding: 20px 0px 23px;
    margin: 0px;
    color: #fff;
    -webkit-transition: opacity .3s ease-in-out 0.0s;
    -moz-transition: opacity .3s ease-in-out 0.0s;
    -o-transition: opacity .3s ease-in-out 0.0s;
    -ms-transition: opacity .3s ease-in-out 0.0s;    
    transition: opacity .3s ease-in-out 0.0s; 
}

.js .title-2 {
    opacity: 0.0;
    filter: alpha(opacity=0);
}

.projects-container:hover .title-2 {
opacity: 1.0;
filter: alpha(opacity=100);
}

.page-content {
	position: absolute;
    width: 100%;
    top: 60px;
    bottom: 0px;
    overflow-x: hidden;
}

.projects {
	    position: absolute;
    z-index: 10;
    width:inherit;
    min-width: 100%;
    display: block;

   img {
   width: 100%;
   height: auto;
   margin: 0 auto;
   display: block;
   }
}

.js .projects {
    display: none;
}


.scroll {
    display: none;
}

.js .scroll {
    position: fixed;
    bottom: -70px;
        width: 33.33%;
    height: 70px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    z-index: 999;
    display: block;
    -webkit-transition: bottom 1s ease-in-out 1.2s;
    -moz-transition: bottom 1s ease-in-out 1.2s;
    -o-transition: bottom 1s ease-in-out 1.2s;
    -ms-transition: bottom 1s ease-in-out 1.2s;    
    transition: bottom 1s ease-in-out 1.2s; 
}

.projects-container:hover .scroll {
     bottom: 0px;
}

.arrow-down {
    margin: auto;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.project {
	width: 100%;
	position:relative;
	opacity: 100;
	filter: alpha(opacity=100);
	-webkit-transition: opacity .5s ease-in-out, -webkit-filter .3s ease-in-out 0s, filter .3s ease-in-out 0s;
    -moz-transition: opacity .5s ease-in-out, -webkit-filter .3s ease-in-out 0s, filter .3s ease-in-out 0s;
    -o-transition: opacity .5s ease-in-out, -webkit-filter .3s ease-in-out 0s, filter .3s ease-in-out 0s;
    -ms-transition: opacity .5s ease-in-out, -webkit-filter .3s ease-in-out 0s, filter .3s ease-in-out 0s;    
    transition: opacity .5s ease-in-out, -webkit-filter .3s ease-in-out 0s, filter .3s ease-in-out 0s;
    display: block;
    margin-bottom: 2px;
    z-index: 20;
    transform: translate(0px, 0px);
}

.js .project {
    width: 100%;
    position:relative;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .5s ease-in-out, -webkit-filter .3s ease-in-out 0s, filter .3s ease-in-out 0s;
    -moz-transition: opacity .5s ease-in-out, -webkit-filter .3s ease-in-out 0s, filter .3s ease-in-out 0s;
    -o-transition: opacity .5s ease-in-out, -webkit-filter .3s ease-in-out 0s, filter .3s ease-in-out 0s;
    -ms-transition: opacity .5s ease-in-out, -webkit-filter .3s ease-in-out 0s, filter .3s ease-in-out 0s;    
    transition: opacity .5s ease-in-out, -webkit-filter .3s ease-in-out 0s, filter .3s ease-in-out 0s;
    display: block;
    margin-bottom: 2px;
    z-index: 20;
    transform: translate(0px, 20px);
}

.project:hover {
    cursor: pointer;
}

.project-text h2 {
 font-size: 14px;
 margin: 0 0 20px 25px;
 float: left;
}

.project-text h3 {
    font-size: 14px;
    margin: 0 20px 20px 25px;
    float: right;
}

.project-text{
    position: absolute;
    z-index: 15;
    bottom: 0px;
    width: 100%;
    font-family: 'inconsolata', Arial, sans-serif;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
}

a:visited, a, a:hover {
	color: #ddd;
    cursor: pointer;
}

.project::before {
	 -webkit-box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,1);
-moz-box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,1);
box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,1);
-ms-box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,1);
position: absolute;
top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    	-webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;    
    transition: all .3s ease-in-out 0s; 

}

.project:hover::before {
	 -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
-ms-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
}

.category-container:hover .overlay {
	opacity: 0;
	filter: alpha(opacity=0);
}

.category-container:hover .projects {
    display: block;
}

h1 {
font-weight: 200;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;

}


// COMPARISON SLIDER


.ba-slider {
    position: relative;
    overflow: hidden;
    float: left;
}
 
.two-photos {
    width: calc(50% - 1px) !important; 
}

.ba-slider img {
    width: 100%;
    display:block;
}
 
.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}


.handle { /* Thin line seperator */
  position:absolute; 
  left:50%;
  top:0;
  bottom:0;
  width:2px;
 
  background: black;
  cursor: ew-resize;
}
 
.handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
 
    content:'< >';
    color:#bbb;
    font-weight:bold;
    font-size:20px;
    text-align:center;
    line-height:50px;
 
    background: black;
    border-radius: 50%;
    transition:all 0.3s ease;
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:18px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


// HERO IMAGES

.hero-section {
    padding: 60px 0px 100px;
        background-size: cover;
    background-position: center center;
    width: 100%;
    background-color: #222;
}

.main-content {
    background-color: $background-color;
    padding: 60px 0px;
    height: auto;
}

#biologic .hero-section {
    background-image: url("/img/hero-bg/biologic-bg.jpg");
}

#form1 .hero-section {
    background-image: url("/img/hero-bg/form1-bg.jpg");
}

#whole-system .hero-section {
    background-image: url("/img/hero-bg/wholesystem-bg.jpg");
}

#hypemke .hero-section {
    background-image: url("/img/hero-bg/hypemke-bg.jpg");
}

#vanual .hero-section {
    background-image: url("/img/hero-bg/vanual-bg.jpg");
}

#hypemke-wrapper {
        width: 100%;
    position: absolute;
    max-width: 781px;
    top: 0px;
    margin: 338px 180px;
    display: block;
}

@media (max-width: 1200px) {
  #hypemke-wrapper {
    display: none;
  }
}

.hero-section p {
    color: #999;
}

   .hero-section h4 {
    color: #eee;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 13px;
}

.hero-section hr {
     border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 25px 0px;
}

.beginning {
    h1 {
    float: left;
    margin: 0px;
    }


    p {
    float: right;
    margin: 14px 0 0 0;
    color: #fff; 
    }
}

// TEXT

.column {
    width: 48%;
}

.left-column {
    float: left;
}

.right-column {
    float: right;
}

.two-photos {
        width: calc(50% - 1px) !important;
}

.two-photos img {
    width: 100%;
}

.three-photos {
        width: calc(33.33% - 1px) !important;
}

.four-photos {
        width: calc(25% - 2px) !important;
        margin-left: 2px;
}

.four-grid li:nth-of-type(4n+1) {
margin-left: 0px;
}

.three-photos img, .four-photos img {
    width: 100%;
}

.one-photo {
    width: 100%;
    height: auto;
}

.one-photo, .two-photos, .three-photos, .four-photos {
    margin-bottom: 2px;
}

.main-content{    
p {
    color: $alt-text-color;
}
h4 {
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13px;
}
section {
    margin: 50px 0px;
}

hr {
     border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0px;
    margin-bottom: 40px;
    margin-top: 40px;
}

h1 {
    color: $alt-text-color;
}

a {
    color:#111;
}

}

.text {
    margin-bottom: 50px;
}

// Suggest Post

.PageNavigation {

background: $alt-background;
padding: 35px 0px 60px;

    .prev, .next {
    width: 33.3%;
    position: relative;
    }

    .prev {
    float: left;
    }

    .next {
    float: right;
    }

    img {
    width: 100%;
    z-index: 50;
    }

    h1 {
    position: relative;
    z-index: 100;
    text-align: center;
    }
    h3 {
    text-transform: Capitalize;
    }

    .project-text {
    left: 0px;
    }
}

.rec-project {
        position: relative;
}

    .rec-project::before {
     -webkit-box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,1);
-moz-box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,1);
box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,1);
-ms-box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,1);
position: absolute;
top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
        -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;    
    transition: all .3s ease-in-out 0s; 

}

.rec-project:hover::before {
     -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
-ms-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
}


// LOWERCASE ERYTHING

h1, h2, h3, h4, .page-link, .beginning p {
    text-transform: lowercase !important;
}


// MEDIA QUER
    @media (max-width: 750px) {
  .page-content {
    position: relative;
  }

  .category-container {
    width: 100% !important;
    float: none !important;
  }

  .title-1 {
    display: none !important;
  }

  .projects-container {
    position: relative !important;
  }

  .projects {
    position: relative !important;
    display: block !important;
  }

  .scroll {
    display: none !important;
  }

  .title-2 {
    opacity: 1.0 !important;
    filter: alpha(opacity=100) !important;
  }

  .project {
    opacity: 1.0 !important;
    filter: alpha(opacity=100) !important;
        -webkit-filter: brightness(1) !important;
        display: block !important;
            transform: translate(0px, 0px) !important;
  }

  .text .column {
    width: 100%;
  }

  .PageNavigation .project-text {
display: none;

  }

  .navigation-hack {
    left: 15px;
  }


}

.singleline p {
    margin-bottom: 0px;
}
