<header class="site-header">

  <div class="wrapper">
<span class="site-title">
    <a href="{{ site.baseurl }}/"><img src="/img/base-assets/both.png" /></a>
</span>
    <nav class="site-nav">
      <a href="#" class="menu-icon">
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
